<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content" class="layout_width"> <!-- 원래 섹션 -->
    <th:block th:replace="~{front/community/form/_board_title::title}"></th:block>
    <form id="frmList" name="frmList" method="get" autocomplete="off" th:object="${boardSearch}">
        <aside class="sideform" th:replace="~{front/community/form/_side::board_menus}"></aside>
        <section class="list_contents">
            <h1>
                <a th:href="@{/community}">전체 게시글</a>
            </h1>
            <div class="top_search">

                <div class="search_box">
                    <input type="text" name="skey" placeholder="게시글 검색">
                    <button type="submit">검색</button>
                </div>

                <div>
<!--                    <input type="text" name="skey" placeholder="글쓰기">-->
                    <button type="submit" class="btn1 red" style="width: 80px; margin-right: 20px; ">글쓰기</button>
                </div>


            </div> <!-- top_search -->
<!--            <div>-->
<!--                <div class="btn1">-->
<!--                    <a th:href="@{/community/write/{bId}(bId=${board.bId})}">글쓰기</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <nav class="board_menus">-->
<!--                <ul class="board_menus_list">-->
<!--                    <li th:each="board : ${boards}" th:object="${board}">-->
<!--                        <a th:href="@{/community/list/{bid}(bid=${board.getBId()})}" th:text="*{boardNm}">Board1</a>-->
<!--                        <ul class="sub_list">-->
<!--                            <li th:each="category : ${board.getCategories()}">-->
<!--                                <a th:href="@{/community/list/{bid}?category={cate}(bid=${board.getBId()}, cate=${category})}"-->
<!--                                   th:text="${category}">Board1_1</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->

            <form method="post">
                <div class="userLists">
                    <ul>
                        <li th:each="item : ${items}" th:object="${item}">
                            <div class="list-top">
                                <span class="list_poster" th:text="*{poster}"></span>
                                <span>·</span>
                                <span class="list_num" th:text="*{#temporals.format(createdAt,'yyyy.MM.dd')}"></span>
                            </div>
                            <div class="list-mid">
                                <a th:href="@{/community/view/{id}(id=*{id})}" th:text="*{subject}">
                                    <!--                                [[|[*{#strings.substring(category,0,2)}]*{subject}|]]-->
                                </a>
                            </div>
                            <div class="list-bot">
                            <span class="bot-right">
                            <span class="viewCnt">
                                <i class="xi-eye-o"></i>
                                <span class="list_num" th:text="*{hit}"></span>
                            </span>
                            <span class="totalComments">
                                <i class="xi-comment-o"></i>
                                <span>1</span>
                            </span>
                        </span>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
                </th:block>
            </form>
            <th:block th:replace="~{commons/pagination::pagination}"></th:block>
            <!--    <aside th:replace="~{front/community/form/_side::board_menus}"></aside>-->
            <!--    <form method="post" th:action="@{/user/community}" autocomplete="off">-->
            <!--        <th:block th:replace="~{front/community/form/_form::form}"></th:block>-->
            <!--    </form>-->
        </section>
    </form>
</main>
</html>