<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content" class="layout_width">
    <section class="list_contents">
        <form name="frmList" id="frmList" method="get" th:object="${boardSearch}">
            <th:block th:replace="~{front/community/form/_board_title::title}"></th:block>
            <div class="top_search">
                <div class="btn1">
                    <a th:href="@{/community/write/{bId}(bId=${board.bId})}">글쓰기</a>
                </div>
                <div class="search_box">
                    <input type="text" name="skey" placeholder="게시글 검색">
                    <button type="submit">검색</button>
                </div>
            </div>
        </form>
        <form method="post">
            <div class="community_items">
                <div class="menu_bar">
                            <span th:each="category : ${board.getCategories()}">
                                <a th:href="@{/community/list/{bid}?category={cate}(bid=${board.getBId()}, cate=${category})}"
                                   th:text="${category}">Board1_1</a>
                            </span>
                </div>
                <div>
                    <ul>
                        <li th:each="item : ${postList}" th:object="${item}">
                            <div class="list-top">
                                <span class="list_poster" th:text="*{poster}"></span>
                                <span>·</span>
                                <span class="list_num" th:text="*{#temporals.format(createdAt,'yyyy.MM.dd')}"></span>
                            </div>
                            <div class="list-mid">
                                <a th:href="@{/community/view/{id}(id=*{id})}" th:text="*{subject}">
                                    <!--                                [[|[*{#strings.substring(category,0,2)}]*{subject}|]]-->
                                </a>
                            </div>
                            <div class="list-bot">
                            <span class="bot-right">
                            <span class="viewCnt">
                                <i class="xi-eye-o"></i>
                                <span class="list_num" th:text="*{hit}"></span>
                            </span>
                            <span class="totalComments">
                                <i class="xi-comment-o"></i>
                                <span>1</span>
                            </span>
                        </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</main>
</html>