<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<section layout:fragment="content" class="layout_width">
  <h1>게시글 수정</h1>
  <form class="form_style1" name="frmSave" method="post" th:action="@{/community/save}" autocomplete="off" th:object="${postForm}">
    <input type="hidden" name="id" th:field="*{id}">
    <input type="hidden" name="bId" th:value="${board.bId}">
    <input type="hidden" name="gid" th:field="*{gid}">
    <th:block th:replace="~{front/community/form/_configForm::form}"></th:block>
    <div class="btns">
      <button type="button"><a th:href="@{/community}">취소하기</a></button>
      <button type="submit">수정하기</button>
    </div>
  </form>
</section>
</html>