<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content" th:object="${post}">
    <section class="main_intro">
        <div class="view_content_wrap">
            <div class="post_wrap">
                <div class="post_top">
                    <h2 class="post_poster">
                        <th:block th:text="*{user.userNickNm}"></th:block>
                    </h2> <!-- 제목 -->
                    <h1><span th:text="*{subject}"></span></h1>
                    <div class="desc">
                        <div class="info_txt">
                            <span>IP : [[*{ip}]]
                        </span>
                            <span>[[*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}]]</span>
                        </div>
                        <div class="post_info_right">
                        <span>
                            조회수 :
                <th:block th:if="*{hit < 1000}" th:text="*{hit}"></th:block>
                <th:block th:unless="*{hit < 1000}" th:text="*{#numbers.formatInteger(hit, 3)}"></th:block>
                        </span>
                            <span>
                            | 좋아요 1
                        </span>
                        </div>
                    </div> <!-- post_info -->
                </div>
            </div> <!-- post_wrap -->

            <div class="content" th:utext="*{content}"></div>
            <div class="btns">
                <a th:href="@{/community/{id}/update(id=*{id})}">글수정</a>
                <a th:href="@{/community/delete/{id}(id=*{id})}">글삭제</a>
                <a th:href="@{/community/write/{bId}(bId=*{board.bId})}">글쓰기</a>
                <a th:href="@{/community/list/{bId}(bId=*{board.bId})}">글목록</a>
            </div>
        </div> <!-- view_content_wrap -->
    </section>
</main>
</html>