<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <nav th:replace="~{admin/community/_submenu::menus}"></nav>
    <h1 class="headline">게시판 검색</h1>
    <form class="search_form" method="get" name="frmSearch" th:action="@{/admin/community}" autocomplete="off"
          th:object="${communitySearch}">
        <dl>
            <dt>검색어</dt>
            <dd>
                <div class="input_grp">
                    <select name="sopt" th:field="*{sopt}">
                        <option value="all">통합검색</option>
                        <option value="subject">제목</option>
                        <option value="content">내용</option>
                        <option value="poster">이름</option>
                    </select>
                    <input type="text" name="skey" th:field="*{skey}" placeholder="검색어 입력...">
                </div>
            </dd>
        </dl>
        <div>
            <button class="search_btn" type="submit">조회하기</button>
        </div>
    </form>

    <h1 class="headline">게시판 목록</h1>
    <form method="post" name="frmList" th:action="@{/admin/community}" autocomplete="off" target="ifrmProcess">
        <input type="hidden" name="_method" value="patch"> <!-- 수정할 때는 method=patch -->
        <table class="table-rows">
            <thead>
            <tr>
                <th width="40">
                    <input type="checkbox" class="checkall" id="checkall" data-target-name="id">
                    <label for="checkall"></label>
                    <!--bId를 선택하면 전부 체크-->
                </th>
                <th width="120">코드번호</th>
                <th width="150">카테고리</th>
                <th width="200">게시글 제목</th>
                <th width="100">작성자명</th>
                <th width="150">이메일</th>
                <th width="150">작성일시</th>
                <th width="150">수정일시</th>
                <th width="100">조회수</th>
                <th width="150">비고</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, status : ${items}" th:object="${item}">
                <td align="center">
                    <input type="checkbox" name="id" th:value="*{id}" th:id="${'id_' + status.index}">
                    <label th:for="${'id_' + status.index}"></label>
                </td>
                <td align="center" th:text="*{id}"></td>
                <td align="center" th:text="*{category}"></td>
                <td align="center" th:text="*{subject}"></td>
                <td align="center" th:text="*{poster}"></td>
                <td align="center" th:text="*{user.userEmail}"></td>
                <td align="center">[[*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}]]</td>
                <td align="center">[[*{#temporals.format(modifiedAt, 'yyyy.MM.dd HH:mm')}]]</td>
                <td align="center">
                    <th:block th:if="*{hit < 1000}" th:text="*{hit}"></th:block>
                    <th:block th:unless="*{hit < 1000}" th:text="*{#numbers.formatInteger(hit, 3)}"></th:block>
                </td>
                <td align="center">
                    <button class="btn2" type="button">
                        <a th:href="@{/community/view/{id}(id=*{id})}">게시글 보기</a>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-action">
            <a th:href="@{/community/{id}/update(id=*{id})}" class="btn2">게시글 수정</a>
            <button class="btn2" type="button" onclick="return confirm('정말 삭제하시겠습니까?');">
                <a th:href="@{/community/delete/{id}(id=*{id})}">삭제하기</a>
            </button>
        </div>
    </form>
</section>
</html>