<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <th:block th:replace="~{front/community/form/_board_title::title}"></th:block>
    <form id="frmList" name="frmList" method="get" autocomplete="off" th:object="${communitySearch}">
        <section class="list_contents">
            <div class="top_search">
                <select name="sopt">
                    <option value="subject_content">제목+내용</option>
                    <option value="subject">제목</option>
                    <option value="content">내용</option>
                    <option value="poster">글쓴이</option>
                </select>
            </div>
            <div class="search_box">
                    <input type="text" name="skey" placeholder="검색어 입력">
                <button type="submit"><i class="xi-search"></i></button>
            </div>
        </section>
    </form>

    <nav class="menu_bar">
        <ul class="menu_bar_list">
            <li th:each="board : ${boards}" th:object="${board}">
                <a th:href="@{/community/list/{bid}(bid=${board.getBId()})}" th:text="*{bName}">Board1</a>
                <ul class="sub_list">
                    <li th:each="category : ${board.getCategories()}">
                        <a th:href="@{/community/list/{bid}?category={cate}(bid=${board.getBId()}, cate=${category})}"
                           th:text="${category}">Board1_1</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <form method="post">
        <!--            <nav class="tabs">-->
        <!--                <button class="btn1">-->
        <!--                    <a th:href="@{/user/community}">전체</a>-->
        <!--                </button>-->
        <!--                <button class="btn1">-->
        <!--                    <a th:href="@{/user/community/free}">자유게시판</a>-->
        <!--                </button>-->
        <!--                <button class="btn1">-->
        <!--                    <a th:href="@{/user/community/qna}">질문과답변</a>-->
        <!--                </button>-->

        <!--                <button class="btn1">-->
        <!--                    <a th:href="@{/user/community/register}">글쓰기</a>-->
        <!--                </button>-->
        <!--            </nav>-->
        <div class="userLists">
            <ul>
                <li th:each="item : ${postList}" th:object="${item}">
                    <div class="list-top">
                        <span class="list_poster" th:text="*{poster}"></span>
                        <span>·</span>
                        <span class="list_num" th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd')}"></span>
                    </div>
                    <div class="list-mid">
                        <a th:href="@{/community/view/{id}(id=*{id})}">
                            [[|[*{#strings.substring(category,0,2)}]*{subject}|]]
                        </a>
                    </div>
                    <div class="list-bot">
                        <!--                        <span class="bot-left">-->
                        <!--                            <a href="#">&lt;!&ndash; 선택한 카테고리로 이동 &ndash;&gt;질문과 답변</a>-->
                        <!--                            <span class="tags">-->
                        <!--                                <a href="#">&lt;!&ndash; 태그 검색결과 이동(#OO) &ndash;&gt;#개발</a>-->
                        <!--                                &lt;!&ndash; 태그 개수마다  자동으로 추가 &ndash;&gt;-->
                        <!--                            </span>-->
                        <!--                        </span>-->
                        <span class="bot-right">
                            <span class="viewCnt">
                                <i class="xi-eye-o"></i>
                                <span class="list_num" th:text="*{hit}"></span>
                            </span>
                            <span class="totalComments">
                                <i class="xi-comment-o"></i>
                                <span>1</span>
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <th:block th:replace="~{front/commons/_pagination::pagination}"></th:block>
        </div>
        </section>
        </th:block>
    </form>
</main>
</html>