<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="board_menus">
    <ul th:if="${boards != null}">
        <li th:each="board, status : ${boards}" th:object="${board}">
<!--            <a style="color : red;" th:href="@{/community/list/{bid}(bid=${board.getBId()})}" th:text="*{boardNm}">Board1</a>-->
            <input type="radio" name="bId" th:value="*{bId}" th:field="${communitySearch.bId}" th:id="${'bId_' + status.index}">
            <label th:for="${'bId_' + status.index}">[[*{boardNm}]]</label>
        </li>
    </ul>
</th:block>
</html>