<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="common">
    <div class="layout_width inner">
        <div class="top">
            <a th:href="@{/terms/private}">개인정보처리방침</a>&nbsp;&nbsp;|&nbsp;
            <a th:href="@{/terms/guide}">이용약관</a>
        </div>
        <div class="middle">
            (주)스터디 | 대표자: 홍길동 | 사업자번호: 123-45-67890 사업자 정보 확인<br>
            통신판매업: 2018-인천부평B-0062 | 개인정보보호책임자: 홍길동 | 이메일: info@study.com<br>
            주소: 인천광역시 부평구 가재울로 660 스터디스 405호
        </div>
        <div class="bottom">©STUDY. ALL RIGHTS RESERVED</div>
    </div>
</footer>
</html>